.List-View {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    header {
        width: 100%;
        height: 20%;

        .row {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 10px;
        }
    }

    main {
        box-sizing: border-box;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}