.Avatar {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px #232931;

    .usr-icon {
        width: 120px;
        height: 200px;
        border-radius: 100%;
    }
}